#----------------------------------------------------------------------------------------
#----------------------------------------------------------------------------------------
# filter chains
#----------------------------------------------------------------------------------------
#----------------------------------------------------------------------------------------

#----------------------------------------------------------------------------------------
# FORWARD chain
#

# forward outgoing traffic
sudo iptables -t filter -A FORWARD ! -i [%- capture_if -%] -j ACCEPT

# forward all marked traffic from the clients
sudo iptables -t filter -A FORWARD -i [%- capture_if -%] -m mark --mark 1 -j ACCEPT

# speed up tcp connections by negative responses
sudo iptables -t filter -A FORWARD -i [%- capture_if -%] -p tcp -j REJECT --reject-with tcp-reset

# REJECT ALL other
sudo iptables -t filter -A FORWARD -i [%- capture_if -%] -j REJECT --reject-with icmp-net-prohibited

# vim: sw=2 ft=sh
