######################################
# flush/delete the all firewall chains
######################################

sudo iptables -t raw    -F
sudo iptables -t raw    -X

sudo iptables -t filter -F 
sudo iptables -t filter -X 

sudo iptables -t nat    -F
sudo iptables -t nat    -X

sudo iptables -t mangle -F
sudo iptables -t mangle -X

######################################
# delete all ipset sets
######################################
sudo ipset --destroy

# vim: sw=2 ft=sh
